@charset "utf-8";
/* CSS Document */

body {
	width: 100%;
	background-color: #ACACAC;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}
header {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	min-height: 250px;
}
h2 {
	font-size: 42px;
	font-family: Tahoma;
	color: #FFFFFF;
	text-shadow: 1.5px 1.5px 2px #000000;
}
h3 {
	font-size: 34px;
	font-family: Tahoma;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
}
h5 {
	font-size: 1.5em;
	font-family: Tahoma;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}
p {
	font-weight: bold;
	font-size: 1.10em;
	font-family: Tahoma;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
}
img {
  max-width: 50em;
  margin: 25px;

}
main {
    background-color: #89869E;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
	border-style: outset;
	border-color: #C4C0E2;
	border-width: 10px;
    border-top-left-radius: 55px;
	border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}
section {
    background-color: #89869E;
    width: 55%;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: .5%;
    float: left;
    padding: 2%;
	border-style: outset;
	border-color: #C4C0E2;
	border-width: 10px;
    border-top-left-radius: 55px;
	border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}
aside {
    background-color: #89869E;
    width: 28%;
    margin-bottom: 20px;
    margin-left: .5%;
    margin-right: 3%;
    float: right;
    padding: 2%;
	border-style: outset;
	border-color: #C4C0E2;
	border-width: 10px;
    border-top-left-radius: 55px;
	border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}
footer {
	font-size: small;
	text-align: center;
	clear: both;
}

/* This is the navigation stuff */

nav {
	background-color: #4C2BA0;
	text-align: center;
	padding: 0.01%;
}

.navlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.navlistitem {
	display: inline-block;
}

.navlistitem a {
	text-decoration: none;
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 14px;
	padding-bottom: 14px;
	color: #FFFFFF;
	background-color: #BCB4FD;
	font-family: "Bahnschrift";
	text-shadow: 2px 2px #000000;
	border-style: outset;
	border-color: #DAD3FC;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navlistitem a:hover {
	color: #000000;
	text-shadow: 2px 2px #FFFFFF;
	background-color: #DAD3FC;
	border-color: #BCB4FD;
}

/*centering the image */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 50%;
}

.center_section {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 70%;
}